/* remove default margin and padding from body */
body {
    padding: 0;
    margin: 0;
  }
  
  /* set map, body, and html to 100% of the screen size */
  #map,
  body,
  html {
    height: 100%;
  }

  .legend i{
    float: left;
    width: 13px;
    height: 13px;
    margin-right: 3px;
    opacity: 0.8;
  }
  